# Игнорировать всё
/*

# Не игнорировать указанные файлы
!update_info.json
!changelog.txt
!README.md

# Не игнорировать .gitignore
!.gitignore

# Если указанные файлы находятся в директориях, нужно не игнорировать эти директории
!*/

# Игнорировать всё в поддиректориях
*/*
*/**

# Но не игнорировать нужные файлы даже в поддиректориях
!*/update_info.json
!*/changelog.txt
!*/README.md 